body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: #363636;
    text-align: center;
}

.btn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    margin-left : 25%
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
  }
  
  .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .btn:hover .text {
    color: white;
  }
  
  .btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  }

  .input-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 13em;
    border-radius: 1rem;
    color: lightcoral;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
  }
  
  .input-wrapper input:focus {
    outline-color: lightcoral;
  }

.container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
   
input {
  height: 30px;
  width: 80%;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
}

   
button {
  height: 40px;
  width: 70%;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
}

h1{
    text-align:center;
}

p{
    background-color: white;
    text-align: center;
}